<html>
    <body align=center>
        <h1>CONTRACTOR DETAIL</h1>
        <table align="center" >
            <thread>
                <th>ID</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>ZIP_CODE</th>

            </thread>
           
            <tr>
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.city}}</td>
                <td>{{c.zip_code}}</td>
               

            </tr>
            
        </table>
        <br></br>
        <br></br>
        <a href='/contractor'>Back</a>
    </body>
</html>